<h1><%= @hospital.name %>'s Information</h1><br>

<h3>Number of Doctors: <%= @hospital.number_of_doctors %></h3>
<h3>
  List of Universities:
  <ul>
    <% @hospital.uniq_universities.each do |university| %>
    <li><%= university %></li>
    <% end %>
  </ul>
</h3>
